:root {
--primary-text-color-theme-light: #2E2F42;
/*Overlays Shadows Headings*/
--secondary-text-color-theme-light: #434455;
/*Body text*/
--secondary-color-first: #4D5AE5;
 /*CTAs Focused Active states Links*/
 --secondary-color-second: #31D0AA;
 /*Valid fields Success messages*/
 --secondary-text-color: #8E8F99;
 /*Helper text Deemphasized text*/
 --secondary-color-third: #E7E9FC;
 /*Accent color Hairlines Subtle backgrounds*/
 --secondary-color-fourth: #F4F4FD;
 /*Light mode backgrounds Light mode Dialogs/alerts*/
 --card-set-gap: 24px;
 /*margin between elements from the side*/

}

 header .conteiner {
    display: flex;
}
.main-nav{
    display: block;
    align-items: center;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-color-fourth);
    background-color: #FFFFFF;
}
.visually-hidden{
    position: absolute;
    white-space: nowrap;
     width: 1px;
     height: 1px;
     overflow: hidden;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     clip-path:inset(50%);
    margin: -1px;

}

/*components*/
.conteiner{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.images{
    display: block;
    max-width: 100%;
    height: auto;
}

.section-retreat{
    padding-top: 120px;
}

.portfolio-retreat{
    padding-top:96px;
    padding-bottom: 120px ;
}
/*components*/

/*header*/
.page-header{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-color-first);
        text-decoration: none;
       
}
.logo-dark {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;   
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
    text-decoration: none;

}

.main-nav{
    margin-left: 77px;
    margin-right: auto;
}

.list {
    display: flex;
}
.list .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.list .menu-item + .menu-item {
    margin-left: 40px;
}


.menu-link {
font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    text-decoration: none;
}
.menu-link:hover{
    color: var(--secondary-text-color-theme-light);
}
.menu-link:focus{
    color: var(--secondary-color-first);
}

.list .list-contact{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.list .list-contact + .list-contact {
    margin-left: 40px;
}

.contact {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-light);
        text-decoration: none;
    }
    

    /*header*/

    /*hero*/
.hero-fon {
    background-color: var(--primary-text-color-theme-light);
    text-align: center;
    padding: 192px 0;
}
.main-title {
    font-family: 'Roboto',sans-serif;
    width: 492px;
    height: 120px;
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 48px;
}



.modal-btn {
        font-family: 'Roboto',sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19; 
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        background-color: var(--secondary-color-first);
        cursor: pointer;
        margin: 0;
        padding: 16px 32px;
        gap: 10px;
}   

.modal-btn:hover {
    background-color: var(--secondary-color-first)
}
.modal-btn:focus {
    background-color: #404BBF;
}

/*hero*/
/*main*/
.secondary-header{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color-theme-light);
}
.index-header{
    text-align: center;
}

.direction{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: calc(-1*var(--card-set-gap));
    

}
.direction-list{
    flex-basis: calc(100% / 4 - var(--card-set-gap) );
    text-align: left;
    margin-left: var(--card-set-gap);
}


.what-are-we-doing{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: calc( -1*var(--card-set-gap));
}
.what-are-we-doing-list{
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
}

.our-teame{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: calc(-1*var(--card-set-gap));

}

.teame-item{
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    background-color: #FFFFFF;
}
.secondary-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-light);
        margin-bottom: 8px;
}
.secondary-info {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-light);
        margin: 0;
}
.team-fon {
    background-color: #FFFFFF;
    padding-bottom: 120px;    
}


.flex-list{
    column-gap: 24px;
    row-gap: 48px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        list-style: none;
        /* margin-left: calc(-1* var(--card-set-gap));
        margin-top: calc(-2 * var(--card-set-gap)); */
        gap: var(--card-set-gap);
        text-decoration: none;
}

.flex-element{
    flex-basis: calc((100% - 2 * var(--card-set-gap))/3);
    /* margin-left: var(--card-set-gap);
    margin-top: 2 * var(--card-set-gap); */
    text-decoration: none;    
    /* width: 360px;
    height: 420px; */
       
}

.portfolio-link{
    text-decoration: none;
}

.list-button{
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;

    }
    .portfolio-button{
        flex-basis: calc(100% / 5 - var(--card-set-gap));
        margin-left: var(--card-set-gap);
        margin-bottom: 72px;
    
}

.portfolio-button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--secondary-color-first);
        background-color: var(--secondary-color-third);
        cursor: pointer;
        border: 1px solid var(--secondary-color-third);
        border-radius: 4px;
}
.portfolio-card{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: #FFFFFF;
    background-color: var(--secondary-color-first);
}
/*main*/
/*footer*/ 
.footer-fon {
    background-color: var(--primary-text-color-theme-light);
    padding-top: 100px;
    padding-bottom: 100px;
}    
    


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color-first);
}
.logo-light {
    font-family: 'Raleway',sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;   
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--secondary-color-fourth); 
}
.footer-info {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color-third);
}
/*footer*/